html,
body,
header,
#intro{
    height: 100%;
}

html{
    background-color: #000000;
    overflow-x: hidden;
}
body{
    /* color: white; */
}
body::-webkit-scrollbar {
    width: 0.4rem;
  }
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb {
    background: #75e7ba;
  }

#intro{
    background: url(schuhe1.0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: 58% 0%;
}
#navBar{
    font-size: x-large;
}


#fullPageContent{
    top: 30%;
    position: absolute;
}

#ContentFullPage{
    border-bottom: 1px solid white;
   
}
#ContentIcon{
    border-bottom: 1px solid black;
}
#images{
    border-bottom: 1px solid white;
}
#carousel{
    border-bottom: 1px solid black;
}
#BoxContent{
    border: 5px solid white;
}
#ContentBox{
     border-bottom: 1px solid black;
}
h2,h4{
    color:  #75e7ba;
}
#heading{
    font-weight: 400;
    color:  #75e7ba;
}
#startButton{
    background-color: #75e7ba;
}

#startButton:hover {
    background-color: #4a9174;
  }

#navSites{
    color:  #f8f8f8;
    font-size: 100%;
}



#content1{
    text-align: center;
}

@media only screen and (min-width: 300px) {
    #heading { 
        font-size: 250%;  
    }
} 

@media only screen and (min-width: 500px) {
    #heading { 
        font-size: 320%;  
    }
} 

@media only screen and (min-width: 767px) {
    #heading { 
        font-size: 400%;  
    }
    /* Darunter Transparenz möglich wenn Scroll Effekte möglich
    sonst kein passender Layer im Hintergrund der Navigation  */
    #navBar{
        background-color: #000000 !important;
    }
    #navbarCollapse{
        display: flex;
         flex-direction: row-reverse;
    }

    
    
} 

@media only screen and (min-width: 1200px) {
    #heading { 
        font-size: 520%;  
    }
    p{
        font-size: larger;
    }
    #slogan {
        font-size: xx-large;
    }
} 


