html,
body,
header,
#intro{
    height: 100%;
}

html{
    background-color: #000000;
    overflow-x: hidden;
}
body{
    background-color: black;
}
body::-webkit-scrollbar {
    width: 0.4rem;
  }
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb {
    background: #75e7ba;
  }

#intro{
    background: url(schuhe1.0.jpg) no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: 58% 0%;
}
#navBar{
    font-size: x-large;
}
.navbar-toggler{
    background-color: #000000 !important;
    border-radius: 5%;
    border: 0px;
}

#fullPageContent{
    top: 30%;
    position: absolute;
}

#ContentFullPage{
    border-bottom: 1px solid white;
   
}
#ContentIcon{
    border-bottom: 1px solid black;
}
#images{
    border-bottom: 1px solid white;
}
#carousel{
    border-bottom: 1px solid black;
}
#BoxContent{
    border: 5px solid white;
}
#ContentBox{
     border-bottom: 1px solid black;
}
h2,h4{
    color:  #75e7ba;
}
#heading{
    font-weight: 400;
    color:  #75e7ba;
}
#startButton{
    background-color: #75e7ba;
}

#startButton:hover {
    background-color: #4a9174;
  }

#navSites{
    color:  #f8f8f8;
    font-size: 100%;
}

#content1{
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Kurse */

#contentKurse{
    margin-top: 10vh;
}

#headlineKurse{
    text-align: center;
    font-size: xxx-large;
}

#textKurs{
    text-align: center;
}

#sectionKurse{
    border-bottom: 1px solid white;

}

#angebotKurse{
    text-align: center;
}

/* Über Uns 
 */
#pictureUber{
    padding: 10%;
}
/* 
@media only screen and (min-width: 200px) {
   #navBar{
       position: fixed;
       top: auto;
   }
}  */

@media only screen and (min-width: 300px) {
    #heading { 
        font-size: 250%;  
    }
    #navBar{
        background-color: #000000 !important;
        border-bottom: 1px #f8f8f8 solid !important;
    }

} 

@media only screen and (min-width: 500px) {
    #heading { 
        font-size: 320%;  
    }
} 

@media only screen and (min-width: 767px) {
    #heading { 
        font-size: 400%;  
    }
    /* Darunter Transparenz möglich wenn Scroll Effekte möglich
    sonst kein passender Layer im Hintergrund der Navigation  */
    #navBar{
        /* background-color: transparent !important; */
        background-color: black !important;
        border-bottom: 0px #f8f8f8 solid !important;
    
    }
    #navbarCollapse{
        display: flex;
         flex-direction: row-reverse;
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .uberPic{
        margin-top: 3rem;
    }
} 
@media only screen and (min-width: 1000px){
    #footerUber{
        top: 100%;
        position: sticky;
    }

}
@media only screen and (min-width: 1200px) {
    #heading { 
        font-size: 520%;  
    }
    p{
        font-size: larger;
    }
    #slogan {
        font-size: xx-large;
    }
    .uberPic{
        margin-top: 0rem;
    }
   
} 


@media only screen and (min-width: 2000px){
    #footerUber{
        top: 100%;
        position: sticky;
    }
    #intro{
        background-position:  55% 67%;
    }
}

/* Reiteruntersstriche  */

li:hover{
    text-decoration: underline white;  
}
.nav-link:hover{
    color: #75e7ba !important;
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-4em);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

#fullPageContent,
#kurseContent,
.uberContent{
  animation: fadeIn 2s forwards;
}


  
