html,
body,
header,
#intro {
    height: 100%;
}

html {
    background-color: #000000;
    overflow-x: hidden;
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #75e7ba;
}

@font-face {
    font-family: "Amsterdam Laviera";
    src: url("/fonts/Amsterdam/Amsterdam Laviera.ttf");
}
@font-face {
    font-family: "DEUX";
    src: url("/fonts/Deux/DEUX.otf");
}

#intro {
    background: url(img/0,4.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 58% 0%;
    /* opacity: 0.9; */
}

#navBar {
    font-size: x-large;
}

.navbar-toggler {
    background-color: #000000 !important;
    border-radius: 5%;
    border: 0px;
}

.nav-link {
    color: white !important;
}

.nav-selected {
    color: #75e7ba !important;
}

.favicon {
    height: 3em;
    width: 3em;
}

.logo {
    height: 7em;
    width: 7em;
    position: absolute;
    left: -34px;
    top: -52px;
}
/* .logosmall{
    position: absolute;
} */

.logofooter {
    position: relative;
    top: -140px;
    left: 70px;
}

.copyR {
    position: absolute;
    top: -60px;
    left: 145px;
}

.scrollDownIconBox {
    position: absolute;
    top: 92%;
    justify-content: center;
    left: 45%;
    padding: 0.5rem;
    background: rgba(237, 250, 238, 0.07);
    backdrop-filter: blur( 2.0px);
    -webkit-backdrop-filter: blur( 2.0px);
    border-radius: 10px;
}

.scrollDownIcon {
    color: #ffffff;
    position: relative;
}

#fullPageContent {
    top: 23%;
    position: absolute;
}

#ContentFullPage {
    border-bottom: 1px solid white;
}

#ContentIcon {
    border-bottom: 1px solid black;
}

#images {
    border-bottom: 1px solid white;
}

#carousel {
    border-bottom: 1px solid black;
}

#boxContent {
    border: 5px solid white;
}

#contentBox {
    border-bottom: 1px solid black;
}

h2,
h4 {
    color: #75e7ba;
    font-family: 'Zen Dots';
    /* font-family: 'Bebas Neue', cursive; */
}

#heading {
    font-weight: 400;
    color: #75e7ba;
    /* font-family: 'DEUX'; */
    /* font-family: 'Zen Dots'; */
    font-family: 'Russo One', sans-serif;
    /* font-family: 'Zen Tokyo Zoo', cursive; */
    /* font-family: 'Homemade Apple', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* text-shadow: 2px 3px#f6d365; */
    /* font-family: 'Bebas Neue', cursive; */
}

#startButton {
    background-image: linear-gradient(120deg, #f6d365, #75e7ba);
    -webkit-appearance: none;
    -moz-appearance: none;
}


#navSites {
    color: #f8f8f8;
    font-size: 100%;
}

#content1 {
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contentBestPictures {
    overflow: hidden;
}
.line{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* Kurse */

#contentKurse {
    margin-top: 12vh;
}

#headlineKurse {
    text-align: center;
    font-size: xxx-large;
}

#textKurs {
    text-align: center;
}

#sectionKurse {
    border-bottom: 1px solid white;
}

#angebotKurse {
    text-align: center;
}


/* Über Uns */

#pictureUber {
    padding: 10%;
}

#navBar {
    background-color: #000000 !important;
    box-shadow: 2px 2px 3px #f8f8f8;
}
#uberButton {
    background-image: linear-gradient(120deg, #f6d365, #75e7ba);
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* Preise */

.preiseTitle {
    text-align: center;
    font-size: xxx-large;
}

.preiseContent {
    margin-top: 12vh;
}

#footerPreise {
    margin-top: 0rem;
    top: 100%;
    position: sticky;
}

.preislistePic {
    height: 100%;
    width: 100%;
}


/* Impressum */

.impressumTitle {
    margin-top: 10rem;
}

.contentKoIm {
    margin-left: 0rem;
}








/* Bootstrap Nav Button Color Change */

a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
    background-color: #000000!important;
}

@media only screen and (min-width: 300px) {
    #heading {
        font-size: 210%;
    }
}

@media only screen and (min-width: 500px) {
    #heading {
        font-size: 220%;
    }
}

@media only screen and (min-width: 767px) {
    #heading {
        font-size: 350%;
    }
    /* Darunter Transparenz möglich wenn Scroll Effekte möglich
    sonst kein passender Layer im Hintergrund der Navigation  */
    #navBar {
        /* background-color: transparent !important; */
        background-color: black !important;
        border-bottom: 0px #f8f8f8 solid !important;
    }
    #navbarCollapse {
        display: flex;
        flex-direction: row-reverse;
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .uberPic {
        margin-top: 3rem;
    }
    .scrollDownIconBox {
        left: 50%;
    }
    .logo {
        height: 14em;
        width: 14em;
        top: 0px;
    }
    /* .logosmall{
        position: absolute;
        height: 0;
        width: 0;
    } */
    .logoUberKurse {
        top: -20px !important;
        left: -88px !important;
    }
    .logofooter {
        position: absolute;
        top: -10px;
        left: -80px;
    }
    .copyR {
        top: 30px;
        left: 55px;
    }
    .contentKoIm {
        margin-left: 15rem;
    }
    .newsText{
        margin-top: 2em;
    }
}

@media only screen and (min-width: 1000px) {
    #fullPageContent {
        top: 30%;
    }
    .logoUberKurse {
        top: -40px !important;
        left: -105px !important;
    }
    #footerUber {
        top: 100%;
        position: sticky;
    }
    #footerPreise {
        margin-top: 5rem;
        top: 100%;
        position: sticky;
    }
    .logo {
        height: 16em;
        width: 16em;
        left: -60px;
    }
    .logofooter {
        top: -25px;
        left: -90px;
    }
    .copyR {
        top: 30px;
        left: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    #heading {
        font-size: 420%;
        text-shadow: 3px 2px 0 #f7c524;
    }
    p {
        font-size: larger;
    }
    #slogan {
        font-size: xx-large;
    }
    .uberPic {
        margin-top: 1rem;
    }
    .sectionImgBig {
        padding: 1.5rem 10rem 3rem 10rem !important;
    }
    .containerUberPic {
        padding: 2rem 5rem 0rem 5rem !important;
    }
    .contentKursPic {
        padding: 2rem 5rem 0rem 5rem !important;
    }
    .logofooter {
        top: -53px;
        left: -90px;
    }
    .copyR {
        top: 30px;
        left: 107px;
    }
}

@media only screen and (min-width: 1400px) {
    .logo {
        height: 20em;
        width: 20em;
        top: -25px;
    }    

    .sectionImgBig {
        padding: 0.5rem 14rem 3rem 14rem !important;
    }
    #startButton{
        height: 50px;
        width: 180px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 1920px) {
    #heading {
        font-size: 450%;
    }
    #footerUber {
        top: 100%;
        position: sticky;
    }
    #footerPreise {
        margin-top: 10rem;
        top: 100%;
        position: sticky;
    }
    #intro {
        background-position: 55% 67%;
    }
    .logo {
        height: 24em;
        width: 24em;
        top: 0px !important;
    }
    .sectionImgBig {
        padding: 0.5rem 16rem 3rem 16rem !important;
    }
    /* Kontakt */

    .kontaktIcon{
        height: 42px;
        width: 42px;
        margin-bottom: 1em !important;
        margin-top: 1em !important;
    }
    .carousel{
        padding: 4em ;
    }
    .preislistePic {
        padding: 3em;
    }
}

@media only screen and (min-width: 2220px) {
    .row {
        margin-top: 7% !important;
    }
    .containerUberPic {
        padding: 2rem 3rem 0rem 3rem !important;
        margin-left: 5rem;
    }
    .logofooter {
        top: -60px;
        left: -105px;
    }
    .sectionImgBig {
        padding: 0.5rem 10rem 3rem 10rem !important;
    }
}


/* Animations */


/* Reiteruntersstriche  */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#fullPageContent,
#kurseContent,
.uberContent,
.preiseContent {
    animation: fadeIn 2s forwards;
}

.nav-link:hover {
    text-decoration: underline;
    padding-bottom: 2px;
}


/* Content Animation */

.bestPictures {
    transition: 0.4s;
}

/* #heading:hover {
    transition: 0.8s;
    transform: scale(1.07);
} */

.bestPictures:hover {
    transform: scale(1.1);
}

.sectionImgBig {
    transition: 0.4s;
}

.sectionImgBig:hover {
    transform: scale(1.05);
}

#angebotKurse {
    transition: 0.4s;
}

#angebotKurse:hover {
    transform: scale(1.15);
}

.uberPic {
    transition: 0.4s;
}

.uberPic:hover {
    transform: scale(1.1);
}

#textKurs {
    transition: 0.4s;
}

#textKurs:hover {
    transform: scale(1.1);
}



/* Scroll Down Animation */

.scrollDownIconBox:hover {
    background-image: linear-gradient(120deg, #f6d365, #75e7ba);
    transition: all 1s ease;
    border-radius: 50%;
}


/* Button Animation */

#startButton:hover {
    background-color: #36bd90;
    color: white;
}

.bg-linear {
    background-image: linear-gradient(280deg, #f6d365, #75e7ba);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}

p.red::selection {
    background: #ffb7b7;
}

p.red::-moz-selection {
    background: #ffb7b7;
}

.mt-6 {
    margin-top: 6rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}

.mr-6 {
    margin-right: 6rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}